<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>

<style>

  /* CSS styles */

  body {
  font-size: 100%;
  }

  h2 {
  font-family: Impact, sans-serif;
  font-weight: normal;
  color: #CE5937;
  }

  h3 {
  font-weight: medium;
  }

  p {
  font-family: Garamond, serif;
  font-size: 100%;
  }

  .content {
  display: flex;
  flex-direction: row;
  }

  .content-image {
  margin-right: 2em;
  }

  .content-container {
  display: flex;
  flex-direction: column;
  }

  .content-text {
  font-family: Georgia, serif;
  }

  .footnote {
  margin-top: auto;
  font-family: sans-serif;
  font-weight: normal;
  }

  .contact ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  }
</style>
</head>


<body>
  <div class="content">
    <div class="content-image">
      <img src="cid:{{ image_cid }}"/>
    </div>
    <div class="content-container">
      <div class="content-text">
	{{ content }}
      </div>
      <div class="footnote">
	{{ footnote }}
      </div>
      <div class="contact">
	<ul>
	  {{ contact }}
	</ul>
      </div>
    </div>
  </div>
</body>
</html>
